@import "tailwindcss";
@import "./fonts.css" layer(components);
@import "./typography.css" layer(components);
@import "./hljs.css" layer(components);
@custom-variant dark (&:where(.dark, .dark *));
@utility container { margin: auto }
@theme {
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-transparent: #0000;
  --color-green: #005335;
  --color-green-l2: #2A7050;
  --color-green-l1: #186142;
  --color-green-d1: #01442B;
  --color-green-d2: #013621;
  --color-modern: #00B140;
  --color-modern-l2: #42D260;
  --color-modern-l1: #2BC150;
  --color-modern-d1: #02A039;
  --color-modern-d2: #008F32;
  --color-heritage: #003726;
  --color-heritage-l2: #21523F;
  --color-heritage-l1: #114432;
  --color-heritage-d1: #00291C;
  --color-heritage-d2: #001C12;
  --color-shannon: #00A3E0;
  --color-shannon-l2: #49C3FF;
  --color-shannon-l1: #2AB3F1;
  --color-shannon-d1: #0193CB;
  --color-shannon-d2: #0083B6;
  --color-sky: #007DBA;
  --color-sky-l2: #379CDB;
  --color-sky-l1: #228CCA;
  --color-sky-d1: #016EA4;
  --color-sky-d2: #016090;
  --color-stone: #2D5980;
  --color-stone-l2: #49769F;
  --color-stone-l1: #3B678F;
  --color-stone-d1: #1F4B71;
  --color-stone-d2: #0F3D62;
  --color-marine: #13294B;
  --color-marine-l2: #2C4368;
  --color-marine-l1: #1F3659;
  --color-marine-d1: #071C3D;
  --color-marine-d2: #001030;
  --color-marigold: #FFC72C;
  --color-marigold-l2: #FFE2A1;
  --color-marigold-l1: #FFD572;
  --color-marigold-d1: #EEB701;
  --color-marigold-d2: #DBA800;
  --color-golden: #FFA300;
  --color-golden-l2: #FFC785;
  --color-golden-l1: #FFB55A;
  --color-golden-d1: #EA9500;
  --color-golden-d2: #D68800;
  --color-pumpkin: #D45D00;
  --color-pumpkin-l2: #F77D37;
  --color-pumpkin-l1: #E56D23;
  --color-pumpkin-d1: #BE5300;
  --color-pumpkin-d2: #A94800;
  --color-munster: #CB333B;
  --color-munster-l2: #EF5658;
  --color-munster-l1: #DD4549;
  --color-munster-d1: #B91E2D;
  --color-munster-d2: #A6011F;
  --color-salmon: #E31C79;
  --color-salmon-l2: #FF5596;
  --color-salmon-l1: #F53688;
  --color-salmon-d1: #CE006B;
  --color-salmon-d2: #B7005E;
  --color-autumnal: #6F263D;
  --color-autumnal-l2: #8F4258;
  --color-autumnal-l1: #7F344A;
  --color-autumnal-d1: #601730;
  --color-autumnal-d2: #500724;
  --color-copper: #89532F;
  --color-copper-l2: #A8704C;
  --color-copper-l1: #99613D;
  --color-copper-d1: #7A4521;
  --color-copper-d2: #6A3711;
  --color-limestone: #78716C;
  --color-limestone-l5: #FAFAF9;
  --color-limestone-l4: #F5F5F4;
  --color-limestone-l3: #E7E5E4;
  --color-limestone-l2: #D6D3D1;
  --color-limestone-l1: #A8A29E;
  --color-limestone-d1: #57534E;
  --color-limestone-d2: #44403C;
  --color-limestone-d3: #292524;
  --color-limestone-d4: #1C1917;
  --color-limestone-d5: #0C0A09;
  --color-pebble: #737373;
  --color-pebble-l5: #FAFAFA;
  --color-pebble-l4: #F5F5F5;
  --color-pebble-l3: #E5E5E5;
  --color-pebble-l2: #D4D4D4;
  --color-pebble-l1: #A3A3A3;
  --color-pebble-d1: #525252;
  --color-pebble-d2: #404040;
  --color-pebble-d3: #262626;
  --color-pebble-d4: #171717;
  --color-pebble-d5: #0A0A0A;
  --color-granite: #71717A;
  --color-granite-l5: #FAFAFB;
  --color-granite-l4: #F4F4F5;
  --color-granite-l3: #E4E4E7;
  --color-granite-l2: #D4D4D8;
  --color-granite-l1: #A1A1AA;
  --color-granite-d1: #52525B;
  --color-granite-d2: #3F3F46;
  --color-granite-d3: #27272A;
  --color-granite-d4: #18181B;
  --color-granite-d5: #09090B;
  --color-slate: #6B7280;
  --color-slate-l5: #F9FAFB;
  --color-slate-l4: #F3F4F6;
  --color-slate-l3: #E5E7EB;
  --color-slate-l2: #D1D5DB;
  --color-slate-l1: #9CA3AF;
  --color-slate-d1: #4B5563;
  --color-slate-d2: #374151;
  --color-slate-d3: #1F2937;
  --color-slate-d4: #111827;
  --color-slate-d5: #030712;
  --font-sans: Inter, Helvetica, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Saol, "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-display: "Formula Condensed", "Roboto Condensed";
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 2.5rem;
  --text-7xl: 3rem;
  --text-8xl: 3.5rem;
  --text-9xl: 4rem;
  --text-10xl: 5rem;
  --default-transition-duration: 250ms;
}
