<article class="relative group grow not-prose max-w-72 bg-white shadow-md hover:shadow-lg rounded overflow-hidden transition duration-300">

    <a class="absolute top-0 left-0 w-full h-full z-10" href="#"></a>

    <section class="relative overflow-hidden">
        
        <img class="block w-full h-72 object-cover object-top group-hover:scale-105 transition duration-300" src="{{ img_src }}"/>

        <div class="opacity-0 group-hover:opacity-100 bg-granite-d4 bg-opacity-50 transition absolute w-full h-full top-0 flex items-center justify-center">
            
            <div class="text-sm text-white font-bold">View Profile</div>
            
            <div class="w-6 ml-1">{% include '@assets/img/icons/external-link.svg' with { classes: 'fill-white stroke-white' } %}</div>
        
        </div>

    </section>

    <section class="py-6 px-4 text-sm text-granite">

        <div class="flex items-stretch mb-1">
            
            <div class="w-6 mr-2">{% include '@assets/img/icons/user.svg' with { classes: 'fill-green stroke-green' } %}</div>
            
            <div class="font-bold">{{ name }}</div>
        
        </div>

        <div class="flex items-center">
            
            <div class="w-6 mr-2">{% include '@assets/img/icons/academic-cap.svg' with { classes: 'fill-green stroke-green' } %}</div>
            
            <div class="italic">{{ title }}</div>
        
        </div>

    </section>
    
</article>