{#
/**
 * @file
 * Well component.
 * 
 * @see https://coras.ul.ie/components/well/#properties for full documentation.
 */
#}
{% set well_padding = well_padding ?? 'p-6' %}
{% set well_modifiers = well_modifiers ?? '' %}

{# Define the core component styling. #}
{% set core_classes = 'border border-granite-l3 rounded-md dark:border-granite-d1' %}

{# Combine our classes. #}
{% set classes = [
  core_classes,
  well_padding,
  well_modifiers
]|join(' ') %}

{# The component markup. #}
<div class="{{ classes }}">

  {% block well_html %}{% endblock %}

</div>