{#
/**
 * @file
 * Header component.
 * 
 * @see https://coras.ul.ie/components/logo/#properties for full documentation.
 */
#}
{% set position = position ?? 'sticky' %}
{% set bg_colour = bg_colour ?? 'bg-heritage' %}
{% set core_classes = 'top-0 left-0 z-40 overflow-hidden' %}
{% set hide_on_scroll = hide_on_scroll ? true %}

{# Combine classes into a single string to pass to the component. #}
{% set classes = [core_classes, position, bg_colour, modifiers]|join(' ') %}

<header
  data-header
  {{ hide_on_scroll ? ' data-hide-on-scroll ' : '' }}
  {{ id ? 'id="' ~ id ~ '"' : '' }}
  class="{{ overrides is empty ? classes|trim : overrides }}"
  >

  {% block html_outer %}{% endblock %}

  <div class="container px-5 md:px-0 py-2 md:py-3 flex justify-between items-center">

    {% block html_left %}{% endblock %}

    {% block html_right %}{% endblock %}

  </div>

</header>
