{# The header component. #}

{# @docs https://coras.netlify.app/components/header/ #}

{# Default values and core classes. #}
{% set bg_colour = bg_colour ?? 'bg-heritage' %}
{% set core_classes = 'sticky top-0 left-0 h-16 md:h-24 flex items-center z-40 overflow-hidden transition-all duration-500' %}
{% set id = id ?? 'main-header' %}

{# Combine classes into a single string to pass to the component. #}
{% set classes = [bg_colour, core_classes, modifiers]|join(' ') %}

{# The component markup. #}
<header
  id="{{ id }}"
  class="{{ overrides is empty ? classes|trim : overrides }}"
  >

  {% block html_outer %}{% endblock %}

  <div class="container max-h-full px-5 md:px-0 flex justify-between items-center">

    {% block html_left %}{% endblock %}

    {% block html_right %}{% endblock %}

  </div>

</header>

{# Create a target element for the intersection oberserver. #}
<div id="intersection-target" class="absolute left-0 top-64 h-px w-px"></div>
