{% set btn_classes = 'flex text-white items-center py-3 px-2 md:px-4 hover:bg-black/30 transition-colors cursor-pointer' %}

<header id="main-header" class="sticky top-0 left-0 z-20 bg-heritage overflow-hidden will-transform transition-all duration-500">

  <div class="container px-5 md:px-0 py-2 md:py-4 flex justify-between">

    <a href="/">

      {% include '@components/logo/logo.twig' with {
        logo_overrides: 'h-12 md:h-20 transition-all duration-700',
        logo_graphic_fill: 'fill-white',
        logo_text_fill: 'fill-white',
        logo_text_modifiers: 'hidden md:block transition-opacity duration-700'
      } %}

    </a>

    <div class="flex items-center">

      <div class="flex md:bg-pebble-d3/70 rounded-lg h-fit overflow-hidden">

        <button id="global-search-trigger" class="{{ btn_classes }} md:border-r-2 border-r-white">

          {% include '@components/icon/icon.twig' with {
            icon_name: 'magnifying-glass',
            icon_fill: 'fill-white',
            icon_type: 'solid',
            icon_size: 'w-6 md:w-5 mr-2'
          } %}

          <span class="hidden md:inline">Search</span>

        </button>

        <button class="{{ btn_classes }}">

          {% include '@components/icon/icon.twig' with {
            icon_name: 'bars',
            icon_fill: 'fill-white',
            icon_type: 'solid',
            icon_size: 'w-5 md:w-4 md:mr-3'
          } %}

          <span class="hidden md:inline">Menu</span>

        </button>

      </div>

    </div>

  </div>

  <div id="global-search" class="absolute top-0 left-0 p-3 md:left-auto md:right-0 flex w-full md:w-xl xl:w-3xl h-full bg-heritage transition-all duration-400 translate-x-full opacity-0 overflow-hidden">

    <div class="flex justify-between items-center w-full">

      <label class="sr-only" for="global-search">Search University of Limerick</label>

      <input class="block w-full bg-transparent md:bg-white text-white md:text-granite-d3 md:py-3 md:px-4 md:mr-2 rounded-sm md:text-lg focus:outline-0 md:focus:outline-3 md:focus:outline-modern" type="search" name="global-search-input" id="global-search-input" placeholder="Search">

      <button id="global-search-go" class="{{ btn_classes }}" title="Search">

        {% include '@components/icon/icon.twig' with {
          icon_name: 'magnifying-glass',
          icon_fill: 'fill-white',
          icon_type: 'solid',
          icon_size: 'h-6 md:h-8'
        } %}

      </button>

      <button id="global-search-dismiss" class="{{ btn_classes }}" title="Dismiss">

        {% include '@components/icon/icon.twig' with {
          icon_name: 'xmark',
          icon_fill: 'fill-white',
          icon_type: 'solid',
          icon_size: 'h-6 md:h-8',
          icon_modifiers: 'transition-transform origin-center duration-700'
        } %}

      </button>

    </div>

  </div>

</header>