---
layout: templates/page-iframe.html
---

{% include "@components/header/header.twig" with {
  bg_colour: 'bg-transparent'
}%}

{% include '@components/hero-banner/hero-banner.twig' with {
  hero_variation: 'fullscreen',
  is_video: true,
  hero_video_webm: '/video/ul-drone-footage.webm',
  hero_video_mp4: '/video/ul-drone-footage.mp4',
  hero_img_url: '/img/samples/ul-drone-footage-frame.jpg',
  hero_heading: 'Championing environmental sustainability',
} %}

<div class="relative overflow-hidden bg-white" style="height: 1000px;"></div>
