{% set id = id ?? random() %}

<label
  for="{{ id }}"
  class="inline-block relative cursor-pointer p-3 rounded-full transition hover:bg-modern-l1/5 dark:hover:bg-modern-l1/10" >

  {% include '@components/icon/icon.twig' with {
    name: 'sun-bright',
    type: 'twotone',
    size: 'w-6',
    fill: 'fill-green dark:hidden',
    aria_hidden: true
  } only %}

  {% include '@components/icon/icon.twig' with {
    name: 'moon-stars',
    type: 'twotone',
    size: 'w-6 -mt-1',
    fill: 'fill-white hidden dark:block',
    aria_hidden: true
  } only %}

  <span class="sr-only">Switch between dark and light modes</span>

</label>

<input type="checkbox" name="mode-toggle" id="{{ id }}" class="sr-only" />
