---
layout: templates/home.html
title: Córas | UL Design System
---

{% set extra_btn_classes = 'basis-1/3 dark:bg-green dark:hover:bg-green-d1 dark:text-white dark:fill-white dark:border-white' %}

<div class="max-w-4xl mx-auto">

  <h1 class="font-display mb-0 is-decorated after:origin-left after:scale-150 text-10xl">Córas</h1>

  <h2 class="font-serif mt-4 md:mt-5 md:text-6xl">UL Design System</h2>

  <p>
    <strong>Córas</strong> means <em>system</em> in Irish, and is also suggestive of a chorus, where
    those gathered together sing from the same hymn sheet. This is essentially what a good design system
    should offer its users: a single source of truth (the hymn sheet) to help harmonise their efforts.
  </p>

  <div class="flex gap-3 basis-full">

    {% include '@components/button/button.twig' with {
      btn_modifiers: extra_btn_classes,
      btn_text: 'For Developers',
      btn_theme: 'secondary-green',
      btn_padding: 'equal',
      btn_url: '/guides/for-developers/',
      icon_name: 'code',
      icon_type: 'duotone',
      icon_size: 'w-7'
    } %}

    {% include '@components/button/button.twig' with {
      btn_modifiers: extra_btn_classes,
      btn_text: 'For Designers',
      btn_theme: 'secondary-green',
      btn_padding: 'equal',
      icon_name: 'pen-paintbrush',
      icon_type: 'duotone',
      icon_size: 'w-6'
    } %}

    {% include '@components/button/button.twig' with {
      btn_modifiers: extra_btn_classes,
      btn_text: 'For Content Creators',
      btn_theme: 'secondary-green',
      btn_padding: 'equal',
      icon_name: 'keyboard',
      icon_type: 'duotone',
      icon_size: 'w-7'
    } %}

  </div>

</div>