---
layout: templates/home.html
title: Córas | UL Design System
---

<div class="is-prose max-w-6xl flex flex-wrap px-10 py-20 mx-auto">

    <div class="basis-1/4">

        <div class="pr-6">{% include '@assets/img/pattern-01a.svg' %}</div>

    </div>

    <div class="basis-3/4">

        <h1 class="font-display mb-0 text-8xl is-decorated after:origin-left after:scale-150">Córas</h1>

        <h2 class="font-serif mt-5 text-5xl">UL Design System</h2>

        <p>
            <strong>Córas</strong> means <em>system</em> in Irish, and is also suggestive of a chorus, where 
            those gathered together sing from the same hymn sheet. This is essentially what a good design system 
            should offer its users: a single source of truth (the hymn sheet) to help harmonise their efforts.
        </p>

    </div>

    <div class="flex gap-4 basis-full">

        <div class="basis-1/3">

            {% embed "@components/well/well.twig" %}

                {% block inner_html %}

                    <div class="text-sm">For Developers</div>

                {% endblock %}

            {% endembed %}
        </div>

        <div class="basis-1/3">

            {% embed "@components/well/well.twig" %}

                {% block inner_html %}

                    <div class="text-sm">For Designers</div>

                {% endblock %}

            {% endembed %}
        </div>

        <div class="basis-1/3">

            {% embed "@components/well/well.twig" %}

                {% block inner_html %}

                    <div class="text-sm">For Content Creators</div>

                {% endblock %}

            {% endembed %}
            
        </div>

    </div>

</div>