---
layout: layouts/page-iframe.html
---

<div class="text-center py-8 bg-granite-l3 text-granite-d2"><small>Space Above</small></div>

{% embed "@components/header/header.twig" with {
  modifiers: "shadow-lg"
}%}

  {% block html_left %}

    <a href="/">

      {% include "@components/logo/logo.twig" with {
        id: "header-logo",
        overrides: "h-12 md:h-18 transition-all duration-500",
        symbol_fill: "fill-white",
        text_fill: "fill-white",
        text_modifiers: "hidden md:block transition-opacity duration-500"
      } only %}

    </a>

  {% endblock %}

  {% block html_right %}

    {% include "@components/header-actions/header-actions.twig" %}

  {% endblock %}

  {% block html_outer %}

    {% include "@components/header-search/header-search.twig" %}

  {% endblock %}

{% endembed %}

<div style="height: 1500px"></div>