---
layout: layouts/page-iframe.html
---

{% embed "@components/header/header.twig" %}

  {% block html_left %}

    <a href="/">

      {% include "@components/logo/logo.twig" with {
        id: "header-logo",
        overrides: "h-12 md:h-18 transition-all duration-500",
        symbol_fill: "fill-white",
        text_fill: "fill-white",
        text_modifiers: "hidden md:block transition-opacity duration-500"
      } only %}

    </a>

  {% endblock %}

  {% block html_right %}

    {% include "@components/header-actions/header-actions.twig" %}

  {% endblock %}

  {% block html_outer %}

    {% include "@components/header-search/header-search.twig" %}

  {% endblock %}

{% endembed %}

{% set dummyContent %}
  {% include "../../foundations/typography.html" %}
{% endset %}

<div class="px-5 py-24 mx-auto max-w-5xl">
  <h1 class="is-decorated font-serif">Dummy Content</h1>
  {{ dummyContent|slice(120, 5000) }}
</div>
