{#
/**
 * @file
 * iFrame component.
 * 
 * For internal use in Coras only, for components that overflow the content area.
 */
#}

{% set zoom = zoom ?? 0.5 %}
{% set height = height ?? 300 %}
{% set folder = folder ?? '' %}
{% set file = file ?? '' %}
{% set src = '../../iframes/' ~ folder ~ '/' ~ folder ~ '-' ~ file ~ '/index.html' %}

{% embed '@components/well/well.twig' with { padding: 'p-2' } %}

  {% block html %}

    <iframe
      class="w-full"
      {{ 'style="zoom: ' ~ zoom ~ '; height: ' ~ height / zoom ~ 'px"'}}
      src="{{ src }}" frameborder="0">
    </iframe>

    <a
      href="{{ src }}" target="_blank"
      class="flex mt-2 leading-none justify-end items-center text-sm text-granite-d1 no-underline dark:text-granite-l1"
      >

      <span>Open in new window</span>

      {% include '@components/icon/icon.twig' with {
        name: 'arrow-up-right-from-square',
        fill: 'fill-granite-d1 dark:fill-granite-l1',
        type: 'solid',
        size: 'w-3',
        modifiers: 'inline ml-1'
      } %}

    </a>

  {% endblock %}

{% endembed %}
