<header class="sticky top-0 w-full h-24 z-10">

  <div class="
        absolute inset-0 bg-white bg-opacity-60 border-b border-granite-l3 backdrop-blur -z-10
        dark:bg-granite-d3 dark:border-granite-d1 dark:bg-opacity-70" aria-hidden="true">
  </div>

  <div class="container h-full flex items-center justify-between px-4 sm:px-6">

    <a href="/">{% include '@assets/img/logo.svg' %}</a>

    <!-- Dark mode toggle -->

    <input type="checkbox" name="light-switch" id="light-switch" class="light-switch sr-only" />

    <label
      for="light-switch"
      class="relative cursor-pointer p-3 rounded-full transition hover:bg-modern-l1 hover:bg-opacity-5 dark:hover:bg-opacity-10" >

      {% include '@components/icon/icon.twig' with {
        icon_name: 'brightness',
        icon_type: 'duotone',
        icon_size: 'w-6',
        icon_fill: 'fill-green dark:hidden'
      } %}

      {% include '@components/icon/icon.twig' with {
        icon_name: 'moon-stars',
        icon_type: 'duotone',
        icon_size: 'w-6 -mt-1',
        icon_fill: 'fill-white hidden dark:d-block'
      } %}

      <span class="sr-only">Switch between dark and light modes</span>

    </label>

  </div>

</header>