{# The header search component, called by the header actions component. #}

<div
  id="header-search"
  class="absolute top-0 left-0 px-5 flex w-full h-full bg-heritage z-10 md:px-10 md:left-auto md:right-0 md:w-xl md:bg-transparent xl:w-3xl transition-all duration-400 translate-x-full opacity-0"
  >

  <div class="flex justify-between items-center w-full">

    <label class="sr-only" for="header-search-input">{{ "Search University of Limerick"|t }}</label>

    <input
      type="search"
      id="header-search-input"
      name="header-search-input"
      placeholder="Search"
      class="block w-full bg-transparent md:bg-white text-white md:text-granite-d3 md:py-2 md:px-4 md:mr-2 rounded-sm md:text-lg focus-visible:outline-0 md:focus-visible:outline-2"
      >

      {% embed "@components/button/button.twig" with {
        id: "header-search-trigger",
        text: "Search",
        type: "button",
        text_classes: "hidden",
        overrides: "cursor-pointer p-2 rounded-md hover:bg-black/30"
      } %}

        {% block html_left %}

          {% include "@components/icon/icon.twig" with {
            name: "magnifying-glass",
            fill: "fill-white",
            type: "solid",
            size: "h-6 md:h-7"
          } only %}

        {% endblock %}

      {% endembed %}

      {% embed "@components/button/button.twig" with {
        id: "header-search-dismiss",
        text: "Dismiss",
        type: "button",
        text_classes: "hidden",
        overrides: "cursor-pointer p-2   rounded-md hover:bg-black/30"
      } only %}

        {% block html_left %}

          {% include "@components/icon/icon.twig" with {
            id: "search-dismiss-icon",
            name: "xmark",
            fill: "fill-white",
            type: "solid",
            size: "h-6 md:h-7",
            modifiers: "transition-transform origin-center duration-700"
          } only %}

        {% endblock %}

      {% endembed %}

  </div>

</div>