<!DOCTYPE html>

<html lang="en" class="scroll-smooth">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/index.css">

    <script>
        if (localStorage.getItem('dark-mode') === 'false' || !('dark-mode' in localStorage)) {
            document.querySelector('html').classList.remove('dark');
        } else {
            document.querySelector('html').classList.add('dark');
        }
    </script>

    <script type="module" src="/index.js"></script>
    
    <title>{{ title }}</title>

</head>

<body class="antialiased bg-white dark:bg-slate-800 dark:text-slate-100">

    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">

        <!-- Site header -->
        <header class="fixed w-full z-30">

            <div class="absolute inset-0 bg-white bg-opacity-70 border-b border-slate-200 backdrop-blur -z-10 dark:bg-slate-800" aria-hidden="true"></div>
            
            <div class="container flex items-center justify-between px-4 sm:px-6">
                
                    <!-- Logo -->
                    <a href="/">
                    
                        {% include 'assets/img/logo.svg' %}
                    
                    </a>
                    
                    <!-- Dark mode toggle -->

                    <input type="checkbox" name="light-switch" id="light-switch" class="light-switch sr-only" />
                    
                    <label class="relative cursor-pointer p-2" for="light-switch">
                        
                        {% include 'assets/img/icons/day.svg' %}

                        {% include 'assets/img/icons/night.svg' %}
                        
                        <span class="sr-only">Switch between dark and light modes</span>
                    
                    </label>

                    

                </div>


        </header>

        <!-- Page content -->
        <main class="grow">
        
            <section class="relative">

                <div class="w-full mx-auto px-4 sm:px-6">
        
                    <!-- Main content -->
                    <div x-data="{ sidebarExpanded: false }">

                        <!-- Backdrop -->
                        <div
                            class="md:hidden fixed inset-0 z-10 bg-slate-900 bg-opacity-20 transition-opacity"
                            x-show="sidebarExpanded"
                            x-transition:enter="transition ease-out duration-200"
                            x-transition:enter-start="opacity-0"
                            x-transition:enter-end="opacity-100"
                            x-transition:leave="transition ease-out duration-100"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            x-cloak
                            aria-hidden="true"
                        ></div>                        
    
                        <!-- Sidebar -->
                        <aside
                            id="sidebar"
                            class="fixed left-0 top-0 bottom-0 w-64 h-screen border-r border-slate-200 md:left-auto md:shrink-0 z-10 md:!opacity-100 md:!block"
                            @click.outside="sidebarExpanded = false"
                            @keydown.escape.window="sidebarExpanded = false"
                            x-show="sidebarExpanded"
                            x-transition:enter="transition ease-out duration-200 transform"
                            x-transition:enter-start="opacity-0 -translate-x-full"
                            x-transition:enter-end="opacity-100 translate-x-0"
                            x-transition:leave="transition ease-out duration-200"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            x-cloak                                         
                        >
                            
                        </aside>
    
                        <!-- Page container -->
                        <div class="md:grow md:pl-64 lg:pr-6 xl:pr-0">
                            
                            <div class="pt-24 md:pt-28 pb-8 md:pl-6 lg:pl-12">

                                <!-- Page header -->
                                <div class="h-16 flex items-center mb-6">
                                    
                                    <h1 class="text-4xl">{{ title }}</h1>

                                </div>                                

                                <article class="flex xl:space-x-12">

                                    <!-- Main area -->
                                    <div class="min-w-0">

                                        <!-- Mobile hamburger + breadcrumbs -->
                                        <div class="md:hidden flex items-center mb-8">
                                            <!-- Hamburger button -->
                                            <button
                                                class="hamburger"
                                                @click.stop="sidebarExpanded = !sidebarExpanded"
                                                aria-controls="sidebar"
                                                :aria-expanded="sidebarExpanded"
                                            >
                                                <span class="sr-only">Menu</span>
                                                <svg class="w-6 h-6 fill-slate-600 dark:fill-slate-400" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="4" y="5" width="16" height="2"></rect>
                                                    <rect x="4" y="11" width="16" height="2"></rect>
                                                    <rect x="4" y="17" width="16" height="2"></rect>
                                                </svg>
                                            </button>
                                        </div>                                        

                                        <!-- Article content -->
                                        <div class="prose">

                                            {{ content }}
                                            
                                        </div>


                                        <!-- Content footer -->
                                        <footer class="w-full border-t border-slate-200 mt-12 pt-5 dark:border-slate-800">
                                            <div class="flex flex-col md:flex-row items-center justify-center md:justify-between">
                                                <div class="mb-4 md:mb-0">
                                                    <div class="shrink-0 flex flex-col md:flex-row items-center">
                                                        
                                                        <div class="text-sm text-slate-500 ml-4">Copyright © UL {% getYear %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </footer>                                       

                                    </div>
                                    
                                    

                                </article>
                             
                            </div>
                        </div>
    
                    </div>
        
                </div>
                
            </section>
        
        </main>

    </div>

</body>

</html>