---
title: Banner (Fullscreen)
layout: layouts/page.html
---

<h1 class="font-serif is-decorated">{{ title }}</h1>

<p>The video is a supporting background asset; it is not intended to facilitate story-telling or communicate complex messaging; this should be done via text and/or explicit call-to-actions.</p>

<p>Other important points a background video like this needs to <strong>avoid</strong>:</p>

<ul>
  <li>Fast movement or action, which can be jarring and distract users</li>
  <li>High contrast or distracting foreground content, which can obscure the main text or CTA</li>
  <li>Excessive focal elements (e.g. too many close-ups of people talking) which prevents it blending into the background as intended</li>
  <li>Text or logos (for the same reasons we avoid them on images)</li>
</ul>


