---
title: Button
layout: templates/page.html
---

{% set btnText = 'Click Me!' %}


<div class="is-prose mx-auto py-20">

    <h1 class="is-decorated">{{ title }}</h1>

    <div class="h-40 bg-green-d1 w-96 flex align-center justify-center">
        
        <button class="
        text-green bg-white border-2 border-green px-4 py-2 h-16
        hover:bg-green hover:text-white transition
        dark:bg-green dark:text-white dark:border-limestone-l5
        active:bg-green-d2">
        
        {{ btnText }}

        </button>

    </div>

    <h2>Unbreak page</h2>

</div>