---
title: Button
layout: templates/page.html
---

<div class="py-20">

  <h1 class="is-decorated">{{ title }}</h1>

  <h2>Description</h2>

  <p>Buttons represent an action to be performed (such as visiting a link, downloading a document or submitting/resetting form data). The button's text and optional icon should clearly convey its semantic intent.</p>

  {% include '@components/button/button.twig' with {
    btn_text: 'Jump To Next Heading',
    icon_name: 'circle-down',
    icon_pos: 'right',
    icon_size: 'w-5',
    btn_type: 'link',
    btn_url: '#properties'
  } %}


  <h2>Properties</h2>

  {% include '@templates/partials/component-props.html' %}

  <h2>Variants</h2>

  <h3>Function</h3>

  <h3>Type</h3>

  <h3>Text</h3>

  <h3>Colour</h3>

  <h3>Size and Width</h3>

  <h3>Icons</h3>

  <h3>Other Attributes</h3>

  <h2>Usage</h2>

  <h3>Syntax</h3>

  <h3>Code Examples</h3>

  <h3>Source Code</h3>

  <hr>

  {% include '@components/button/button.twig' with {
    text: 'Secondary Button',
    function: 'secondary'
  } %}

  

</div>