---
title: Icon
layout: layouts/page.html
---

<h1 class="font-serif is-decorated">{{ title }}</h1>

<h2>Description</h2>

<p>The icon component can be used standalone or nested inside another component, such as a button or, in the below example, a well. It uses a custom <code>icon()</code> function under the hood that mirrors the functionality of the Drupal Icon API.</p>

{% embed "@components/well/well.twig" with {
  modifiers: 'inline-block leading-none'
} %}

  {% block html %}

    {% include '@components/icon/icon.twig' with {
      name: 'user',
      size: 'w-10',
      fill: 'fill-green dark:fill-modern'
  } only %}

  {% endblock %}

{% endembed %}

<p>To see all available icons, visit the <a href="/foundations/iconography/">Iconography</a> page.</p>

<h3>Syntax</h3>

<p>Use the <code>include</code> tag to inject an icon, and the <code>only</code> keyword if it needs to be protected from outside scope.</p>

<pre><code>{{ html("
{% include 'ul:icon' with {
  property: 'value'
  ...
} only %}
")}}</code></pre>

<h3>Properties</h3>

<p>An icon has one mandatory and seven optional properties.</p>

{% include "@layouts/component-props.html" %}

<h2>Variants</h2>

<p>Icons can be customised by colour, size and type.</p>

<h3>Colour</h3>

<p>All icon colours are defined by the <code>fill</code> property, which expects a class or set of classes. Styling the stroke will have no effect; even very thin icons do not have a stroke.</p>

<p><strong>Note:</strong> Twotone icons are styled by a single colour; the secondary path (the one with the lighter colour) simply has a lower opacity.</p>

<h4>Examples</h4>

<p><strong>(i)</strong> Setting the <code>fill</code> of a graduation cap to <a href="/foundations/colour/#ul-green">UL Green</a> and, if dark mode is supported, to <a href="/foundations/colour/#modern-green">Modern Green</a>:</p>

{% include '@components/icon/icon.twig' with {
  name: 'graduation-cap',
  fill: 'fill-green dark:fill-modern',
  size: 'w-20'
} only %}

<pre><code>{{ html("
{% include 'ul:icon' with {
  name: 'graduation-cap',
  fill: 'fill-green dark:fill-modern'
} %}
")}}</code></pre>


<p><strong>(ii)</strong> Setting the <code>fill</code> to <a href="/foundations/colour/#modern-green">Shannon</a>, and using a lighter shade of the same colour on hover.</p>

{% include '@components/icon/icon.twig' with {
  name: 'earth-europe',
  fill: 'fill-shannon hover:fill-shannon-l1',
  size: 'w-16'
} %}

<pre><code>{{ html("
{% include 'ul:icon' with {
  name: 'earth-europe',
  fill: 'fill-shannon hover:fill-shannon-l1'
} %}
")}}</code></pre>

<h3>Size</h3>

<p>The <code>size</code> will default to <code>w-5</code> (1.25 rem) if left unset. Below are some examples of increasing this size to <code>w-7</code>, <code>w-9</code> and <code>w-11</code> respectively. For brevity, only the code for the last example is shown.</p>

<div class="flex items-end gap-2">

  {% include '@components/icon/icon.twig' with {
    name: 'user',
    fill: 'fill-golden'
  } %}

  {% include '@components/icon/icon.twig' with {
    name: 'user',
    fill: 'fill-golden',
    size: 'w-7'
  } %}

  {% include '@components/icon/icon.twig' with {
    name: 'user',
    fill: 'fill-golden',
    size: 'w-9'
  } %}

  {% include '@components/icon/icon.twig' with {
    name: 'user',
    fill: 'fill-golden',
    size: 'w-11'
  } %}

</div>

<pre><code>{{ html("
{% include 'ul:icon' with {
  name: 'user',
  fill: 'fill-golden',
  size: 'w-10'
} %}
")}}</code></pre>

<p>Icons can also be sized by height, e.g. using a <code>h-10</code> class (which features in the social examples below).</p>

<h3>Type</h3>

<p>The <code>type</code> can be set to <strong>line</strong> (for icons with an outline, the default value), <strong>social</strong> (for social media brand icons), <strong>solid</strong> (for solid colour icons) or <strong>twotone</strong> (for icons with two shades of the same colour). Below are examples of each type, with code included for the social example:</p>

<div class="flex items-end gap-2">

  {% embed "@components/well/well.twig" with {
    modifiers: 'inline-flex flex-col gap-2 items-center'
  } %}

    {% block html %}

      {% include '@components/icon/icon.twig' with {
        name: 'microscope',
        size: 'h-10',
        fill: 'fill-green dark:fill-modern'
      } only %}

      <div class="text-xs">line</div>

    {% endblock %}

  {% endembed %}

  {% embed "@components/well/well.twig" with {
    modifiers: 'inline-flex flex-col gap-2 items-center'
  } %}

    {% block html %}

      {% include '@components/icon/icon.twig' with {
        name: 'instagram',
        type: 'social',
        size: 'h-10',
        fill: 'fill-green dark:fill-modern'
      } only %}

      <div class="text-xs">social</div>

    {% endblock %}

  {% endembed %}

  {% embed "@components/well/well.twig" with {
    modifiers: 'inline-flex flex-col gap-2 items-center'
  } %}

    {% block html %}

      {% include '@components/icon/icon.twig' with {
        name: 'house',
        type: 'solid',
        size: 'h-10',
        fill: 'fill-green dark:fill-modern'
      } only %}

      <div class="text-xs">solid</div>

    {% endblock %}

  {% endembed %}

  {% embed "@components/well/well.twig" with {
    modifiers: 'inline-flex flex-col gap-2 items-center'
  } %}

    {% block html %}

      {% include '@components/icon/icon.twig' with {
        name: 'house',
        type: 'twotone',
        size: 'h-10',
        fill: 'fill-green dark:fill-modern'
      } only %}

      <div class="text-xs">twotone</div>

    {% endblock %}

  {% endembed %}

</div>

<pre><code>{{ html("
{% include 'ul:icon' with {
  name: 'instagram',
  type: 'social',
  size: 'h-10',
  fill: 'fill-green dark:fill-modern'
} only %}
")}}</code></pre>

<h2>Source Code</h2>

<p>The source code below can be found below, and at <code>inc/components/icon/</code> in the design system repository.</p>

<h3>Twig</h3>

<pre class="max-h-80"><code class="">{{ html(get_file("inc/components/icon/icon.twig")) }}</code></pre>

<h3>YML</h3>

<pre class="max-h-80"><code class="language-yaml">{{ html(get_file("inc/components/icon/icon.component.yml")) }}</code></pre>