---
title: Well
layout: templates/page.html
---

<div class="is-prose py-20 mx-auto">

  <h1 class="is-decorated">{{ title }}</h1>

  <h2>Description</h2>

  <p>A well is a very simple component designed to nest other content or components. It consists of a border with a slightly rounded radius, some padding and a subtle background colour to distinguish it from surrounding content.</p>

  {% embed '@components/well/well.twig' %}

    {% block well_html %}

      <div class="text-center"><code>div</code> content inside a well.</div>

    {% endblock %}

  {% endembed %}

  <h2>Syntax</h2>

  <p>A well is to be used with the <code>embed</code> tag, as it is a container for other content. To place content inside the well, use the <code>block</code> placeholder named <code>well_html</code> as follows:</p>

  <pre><code>{{ html("
  {% embed '@components/well/well.twig' %}

    {% block well_html %}

      <!-- Your content or components here -->

    {% endblock %}

  {% endembed %}
  ")}}</code></pre>

  <h2>Properties</h2>

  {% include '@templates/partials/component-props.html' %}

  <h2>Variants</h2>

  <p>
    The padding can be customized per instance using the optional <code>padding</code> parameter.
    In the following examples the padding is indicated with a dashed outline.
  </p>

  <h3>Custom Padding</h3>

  <p>To decrease or increase the padding, use a different value for the utility padding class, e.g. <code>p-2</code> to
    make it smaller:</p>

  <pre><code>{{ html("
  {% embed '@components/well/well.twig' with { well_padding: 'p-2' } %}

    {% block well_html %}

      <!-- Your content or components here -->

    {% endblock %}

  {% endembed %}
  ")}}</code></pre>

  <p>This would result in the following output:</p>

  {% embed '@components/well/well.twig' with { well_padding: 'p-2' } %}

    {% block well_html %}

      <div class="text-center outline-1 outline-modern outline-dashed dark:outline-modern-d2">A well with less padding.</div>

    {% endblock %}

  {% endembed %}

  <h3>Conditional Padding</h3>

  <p>You could also have the padding adapt to different screen sizes. For example, in the following code the padding
    will change depending on the size of the user's screen:</p>

  <pre><code>{{ html("
  {% embed '@components/well/well.twig' with { 
    well_padding: 'p-3 md:p-5 lg:p-8' 
  } %}

    {% block well_html %}

      <!-- Your content or components here -->

    {% endblock %}

  {% endembed %}
  ")}}</code></pre>

  {% embed '@components/well/well.twig' with {
    well_padding: 'p-3 md:p-5 lg:p-8'
  } %}

    {% block well_html %}

    <div class="text-center outline-1 outline-modern outline-dashed dark:outline-modern-d2">Responsive padding.</div>

    {% endblock %}

  {% endembed %}

  <h3>Modifier Classes</h3>

  <p>Using the <code>well_modifiers</code> property, you can further adjust the appearance of the well. For example, if
    you wanted it to appear as an inline block rather than the default block, you could use the following code:</p>

  <pre><code>{{ html("
  {% embed '@components/well/well.twig' with { 
    well_modifiers: 'inline-block' 
  } %}

    {% block well_html %}

      <!-- Your content or components here -->

    {% endblock %}

  {% endembed %}
  ")}}</code></pre>

  {% embed '@components/well/well.twig' with {
    well_modifiers: 'inline-block'
  } %}

    {% block well_html %}

      <div class="text-center">A well styled as an inline block.</div>

    {% endblock %}

  {% endembed %}

  <h2>Source Code</h2>

  <p>The source code below can be found at <code>inc/components/well/well.twig</code>.</p>

  <pre><code class="language-twig">{{ html(getFile("inc/components/well/well.twig")) }}</code></pre>

</div>