<!DOCTYPE html>

<html lang="en" class="scroll-smooth">

{% include 'partials/head.html' %}

<body class="antialiased bg-white dark:bg-granite-d3 text-granite-d3 dark:text-granite-l3">

    {% include 'partials/header.html' %}

    <div class="flex container min-h-screen">

        <div class="grow basis-1/6 py-20 px-4 border-r border-granite-l3 dark:border-granite-d1">

            {% include 'partials/site-nav.html' %}

        </div>

        <main class="basis-5/6"> 

            <article>

                {{ content }}

            </article>            
                
        </main>
        
    </div>

    {% include 'partials/footer.html' %}

    <script type="module" src="/index.js"></script>

</body>

</html>