{% set mode_toggle_id = mode_toggle_id ?? random() %}

<label
  for="{{ mode_toggle_id }}"
  class="inline-block relative cursor-pointer p-3 rounded-full transition hover:bg-modern-l1/5 dark:hover:bg-modern-l1/10" >

  {% include '@components/icon/icon.twig' with {
    ic_name: 'sun-bright',
    ic_type: 'twotone',
    ic_size: 'w-6',
    ic_fill: 'fill-green dark:hidden',
    ic_aria_hide: true
  } %}

  {% include '@components/icon/icon.twig' with {
    ic_name: 'moon-stars',
    ic_type: 'twotone',
    ic_size: 'w-6 -mt-1',
    ic_fill: 'fill-white hidden dark:block',
    ic_aria_hide: true
  } %}

  <span class="sr-only">Switch between dark and light modes</span>

</label>

<input type="checkbox" name="mode-toggle" id="{{ mode_toggle_id }}" class="sr-only" />
