{% set mode_toggle_id = mode_toggle_id ?? random() %}

<label
  for="{{ mode_toggle_id }}"
  class="inline-block relative cursor-pointer p-3 rounded-full transition hover:bg-modern-l1/5 dark:hover:bg-modern-l1/10" >

  {% include '@components/icon/icon.twig' with {
    icon_name: 'sun-bright',
    icon_type: 'twotone',
    icon_size: 'w-6',
    icon_fill: 'fill-green dark:hidden'
  } %}

  {% include '@components/icon/icon.twig' with {
    icon_name: 'moon-stars',
    icon_type: 'twotone',
    icon_size: 'w-6 -mt-1',
    icon_fill: 'fill-white hidden dark:block'
  } %}

  <span class="sr-only">Switch between dark and light modes</span>

</label>

<input type="checkbox" name="mode-toggle" id="{{ mode_toggle_id }}" class="sr-only" />
