<!DOCTYPE html>

<html lang="en" class="scroll-smooth">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/index.css">

    <script>
        if (localStorage.getItem('dark-mode') === 'false' || !('dark-mode' in localStorage)) {
            document.querySelector('html').classList.remove('dark');
        } else {
            document.querySelector('html').classList.add('dark');
        }
    </script>
    
    <title>{{ title }}</title>

</head>

<body class="antialiased bg-white dark:bg-slate-d2 dark:text-slate-l5">

    {% include 'header.html' %}

    <div class="flex container min-h-screen">

        <div 
            class="grow basis-1/6 py-20 px-4 border-r border-slate-l5 dark:border-slate"
            style="background-image: linear-gradient(90deg, transparent, #00553508)">

            {% include 'site-nav.html' %}

        </div>

        <main class="basis-4/6"> 

            <article>

                {{ content }}

            </article>            
                
        </main>

        <div class="basis-1/6 py-20 px-4">

            {% include 'page-nav.html' %}

        </div>
        
    </div>

    {% include 'footer.html' %}

    <script type="module" src="/index.js"></script>

</body>

</html>