<!DOCTYPE html>

<html lang="en" class="scroll-smooth">

{% include 'partials/head.html' %}

<body class="antialiased bg-white dark:bg-granite-d3 text-granite-d3 dark:text-granite-l3">

    {% include 'partials/header.html' %}

    <div class="flex container min-h-screen">

        <main> 

            <article>

                {{ content }}

            </article>            
                
        </main>
        
    </div>

    {% include 'partials/footer.html' %}

    <script type="module" src="/index.js"></script>

</body>

</html>