{% set component_path = title|lower ~ '/' ~ title|lower %}
{% set yml_file = './inc/components/' ~ component_path ~ '.component.yml' %}
{% set component = get_yml(yml_file) %}
{% set properties = component.props.properties %}
{% set slots = component.slots %}

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  {% for property in properties %}
    {% set key = properties[get_object_key(properties, loop.index0)] %}
    <tr>
      <td><code>{{ key.title }}{{ key.title in component.props.required ? '*' : '' }}</code></td>
      <td>{{ key.type }}</td>
      <td>
        {{ key.description }}
        <em>[Default:
        {% if key.default %}
          {{ key.default }}
        {%- elseif key.default == false -%}
          false
        {%- else -%}
          none
        {%- endif -%}
        ]</em>
      </td>
      <td>{{ key.enum|join(', ') ?? 'n/a' }}</td>
    </tr>
  {% endfor %}
  {% for slot in slots %}
    {% set key = slots[get_object_key(slots, loop.index0)] %}
    <tr>
      <td><code>{{ key.title }}</code></td>
      <td>slot</td>
      <td>{{ key.description }}</td>
      <td>n/a</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if component.props.required is not empty %}
  <small class="before:d-block before:h-px before:w-10 before:bg-granite-l3 before:mb-2">
    * Denotes a required property.
  </small>
{% endif %}