{% embed "@components/header/header.twig" with {
  id: 'coras-header',
  bg_colour: 'bg-white/70 dark:bg-granite-d3/70',
  overrides: 'h-16 md:h-24 flex items-center z-40 overflow-hidden border-b border-granite-l3 dark:border-granite-d1'
} %}

  {% block html_left %}

    <a href="/" class="h-full">

      {% include '@components/logo/logo.twig' with {
        overrides: 'h-18 transition-all duration-500',
        symbol_fill: 'fill-modern dark:fill-white',
        text_fill: 'fill-green dark:fill-white',
        text_modifiers: 'hidden md:block transition-opacity duration-500'
      } only %}

    </a>

  {% endblock %}

  {% block html_right %}

    <div class="hidden lg:block">

      {% include '@components/mode-toggle/mode-toggle.twig' with {
        id: 'desktop-toggle'
      } only %}

    </div>

    <div id="nav-toggle" class="w-10 transition duration-350 lg:hidden">

      <div class="h-1 bg-modern transition duration-350"></div>

      <div class="h-1 bg-modern ml-2 my-2.5 transition duration-350"></div>

      <div class="h-1 bg-modern transition duration-350"></div>

    </div>

  {% endblock %}

{% endembed %}
