<div id="mobile-menu" class="fixed top-0 left-0 w-full h-screen z-10 -translate-x-full transition-transform pt-32 px-5  bg-limestone-l5 lg:hidden dark:bg-granite-d3">

  <nav class="h-screen overflow-scroll pb-60">

    {% include 'site-nav-links.html' %}

  </nav>

  <div class="fixed w-12 h-12 top-32 right-4 rounded-full flex items-center justify-center bg-limestone-l5 border border-granite-l3 dark:bg-granite-d3 dark:border-granite-d1">

    {% include '@components/mode-toggle/mode-toggle.twig' with {
      mode_toggle_id: 'mobile-toggle'
    } %}

  </div>

</div>

<div class="hidden relative col-span-1 pt-20 border-r border-granite-l3 dark:border-granite-d1 lg:block">

  <nav class="sticky top-48">

    {% include 'site-nav-links.html' %}

  </nav>

</div>