---
title: For Developers
layout: templates/page.html
---

<h1 class="font-serif is-decorated">{{ title }}</h1>

<h2>About This System</h2>

<p>The Córas Design System is developed using <a href="https://www.11ty.dev/" target="_blank">11ty (Eleventy)</a>, a framework-agnostic and customisable static site generator.</p>

<p>Although this platform is node/npm-based, JavaScript versions of both <a href="https://github.com/twigjs/twig.js" target="_blank">Twig</a> and <a href="https://www.npmjs.com/package/js-yaml" target="_blank">YML</a> are implemented to ensure the component code integrates with Drupal as seamlessly as possible.</p>

<h2>Pre-Requisites</h2>

<p>To develop components you need to be familiar with the following:</p>

<ul>
  <li><a href="https://www.drupal.org/docs/develop/theming-drupal/using-single-directory-components" target="_blank">Single Directory Components</a></li>
  <li><a href="https://tailwindcss.com/docs/installation" target="_blank">Tailwind CSS</a></li>
</ul>

<p>Single Directory Components (SDC) are part of Drupal core as of version 10.3. With SDC all the files necessary to render a component are housed in a single directory named components, on the same level as a theme's templates directory.</p>

<p>For CSS, we are <strong>not</strong> using the Drupal BEM methodology, but are implementing a customised Tailwind configuration so as to better standardise our styling.</p>

<p>Using both SDC and Tailwind together, we aim to promote <strong>consistency</strong>, <strong>reusability</strong> and <strong>robustness</strong>, and improve the <strong>scalability</strong> and <strong>maintainability</strong> of our codebase.</p>

<h2>Development Process</h2>

<p>Components are to be built inside of Drupal; there will be no need to contribute components to the design system directly. This is the job of UL's design system developer.</p>

<p>The overall development process can be summed up as follows:</p>

<ol>
  <li>Designers hand over completed <a href="https://www.figma.com/design/s8JOhBszxWjPLOCtUJwOtx/Redesign-Library-%F0%9F%93%97?node-id=1501-2600&node-type=canvas&t=w3JOaMM1niH7qO1a-0" target="_blank">Figma components</a> and page designs to developers.</li>
  <li>These are developed as components and/or templates in the new UL Drupal theme.</li>
  <li>Functionality and visual fidelity are reviewed by the design and development team in a deployed development environment.</li>
  <li>Code is reviewed to ensure it follows design system standards, and if approved it can be integrated into Córas and documented.</li>
</ol>

<h2>Guidelines</h2>

<p>We want to ensure consistency from the outset. To that end, we have some guidelines and example components already built.</p>

<p>Here's a high-level summary of our guidelines, with more details below:</p>

<ul>
  <li>Avoid utility classes that cascade down to other components. In particular, please try to avoid <code>has-[.*]</code> and nesting <code>[&_*]</code> classes. <a href="#component-scoping">Details below</a>.</li>
  <li>Components should be <a href="#component-structure">structured consistently</a>.</li>
  <li>If your component contains a cascade of <code>if</code> statements or <a href="#code-repetition">repeated code</a>, it's a good indication that it doesn't have a well defined interface.</li>
  <li>Keep class strings to a <a href="#class-management">reasonable length</a> and ensure correct syntax.</li>
  <li>Document as you code. Use clear comments and define <a href="#yml-files">the component's API</a> in a YML file.</li>
</ul>

<h3>Component Scoping</h3>

<p>Keep classes scoped to the current component as much as possible. Avoid using <code>has-[.*]</code> and nesting <code>[&_*]</code> classes in particular as they can make styling unpredictable and inconsistent.</p>

<p><span class="font-bold mr-2 text-munster">x</span>Don't do this:</p>

<pre><code class="language-twig">{{ html('
<div class="[&_img]:w-full">...</div>
')}}</code></pre>

<p><span class="font-bold mr-1 text-modern">✓</span>Pass properties to the components instead (or create more targeted templates):</p>

<pre><code class="language-twig">{{ html('
<div>
  {% include "ul:image" with {
    width: "w-full"
  } only %}
</div>
')}}</code></pre>

<p>Also note the use of the <code>only</code> keyword, which protects the component from outside scope.</p>

<p>The use of the <code>has-[.*]</code> class can also ripple down and have unexpected consequences that are hard to undo.</p>

<p><span class="font-bold mr-2 text-munster">x</span>Don't do this:</p>

<pre><code class="language-twig">{{ html('
<div class="has-[.text]:bg-green">...</div>
')}}</code></pre>

<p>Developers that later uses a class of <code>text</code> may have no knowledge of the knock-on effect to the parent container's background colour (nor should they need to worry about this). This kind of code doesn't scale well and can be hard maintain and debug.</p>

<h3>Component Structure</h3>

<p>Components should expose the most meaningful properties that allow the consumer to use and customise the component without needing to know the internals (much like an API).</p>

<h4>Default Properties</h4>

<p>In addition to their own unique properties, all components should have the following properties in common:</p>

<ul>
  <li><code>id</code>: An optional id to specifically identify the component.</li>
  <li><code>modifiers</code>: A property that allows you to add extra classes to the default ones.</li>
  <li><code>overrides</code>: A property that allows you to completely override all defaults.</li>
</ul>

<p>The overrides property should be checked before injecting standard classes into a component. One way to structure this would be as follows:</p>

<pre><code class="language-twig">{{ html('
{# Combine classes into a single string to pass to the component. #}
{% set classes = [core_classes, other_classes, modifiers]|join(" ") %}

{# The component markup #}
<div class="{{ overrides is empty ? classes : overrides }}">
  ... etc
</div>
')}}</code></pre>

<h3>Code Repetition</h3>

<p>If a component's styling is characterised by a cascade of <code>if</code> statements or code repetition, it is an indication that the component isn't structurally sound or maintainable.</p>

<p><span class="font-bold mr-2 text-munster">x</span>Don't do this:</p>

<pre><code class="language-twig">{{ html('
{% if btn_primary %}
  {% set theme_classes = "w-full md:w-auto text-center bg-green border-green py-2 px-6 text-white hover:bg-[var(--color-green-d1)] hover:border-[var(--color-green-d1)] active:bg-[var(--color-green-d2)] active:border-[var(--color-green-d2)] rounded no-underline" %}
{% endif %}

{% if btn_secondary %}
  {% set theme_classes = "w-full md:w-auto text-center bg-stone border-stone py-2 px-6 text-white hover:bg-[var(--color-stone-d1)] hover:border-[var(--color-stone-d1)] active:bg-[var(--color-stone-d2)] active:border-[var(--color-stone-d2)] rounded no-underline" %}
{% endif %}

{% if btn_primary_ghost %}
  {% set theme_classes = "w-full md:w-auto text-center bg-transparent hover:bg-[var(--color-green-l2)] text-[var(--color-green)] hover:text-[var(--color-green)] py-2 px-6 border border-[var(--color-green)] hover:border-[var(--color-stone)] active:bg-[var(--color-green-l1)] rounded no-underline" %}
{% endif %}

{% if btn_secondary_ghost %}
  {% set theme_classes = "w-full md:w-auto text-center bg-transparent border border-stone py-2 px-6 text-stone hover:bg-[var(--color-stone-l2)] hover:border-[var(--color-stone)] active:bg-[var(--color-stone-l1)] rounded no-underline" %}
{% endif %}

{% if btn_primary_white %}
  {% set theme_classes = "w-full md:w-auto text-center bg-transparent border-white border py-2 px-6 text-white hover:bg-[var(--color-green-d1)] active:bg-[var(--color-green-d2)] active:bg-[var(--color-green-d2)] rounded no-underline" %}
{% endif %}

... etc
')}}</code></pre>

<p><span class="font-bold mr-1 text-modern">✓</span>Instead, provide a clear set of properties and keep your code <abbr title="Don't Repeat Yourself">DRY</abbr>.</p>

<pre><code class="language-twig">{{ html("
{# Set variable defaults #}
{% set type = type in ['button', 'link', 'submit', 'reset'] ? type : 'link' %}
{% set themes = ['solid-green', 'solid-blue', 'outline-green', 'outline-blue', 'transparent'] %}
{% set theme = theme in themes ? theme : 'solid-green' %}
{% set padding = padding ?? 'px-6 py-2' %}
{% set cursor_classes = is_disabled ? 'cursor-not-allowed opacity-80' : 'cursor-pointer' %}
{% set text_classes = text_classes ?? 'text-lg' %}
... etc

{# Component core classes. #}
{% set core_classes = 'flex items-center justify-center w-fit border-2 rounded-md transition no-underline' %}

{# Set up button theme classes as an object. #}
{% set theme_classes = {

  'solid-green': 'bg-green border-green text-white hover:bg-green-d1 hover:border-green-d1 active:bg-green-d2 active:border-green-d2',

  'solid-blue': 'bg-stone border-stone text-white hover:bg-stone-d1 hover:border-stone-d1 active:bg-stone-d2 active:border-green-d2',

  'outline-green': 'bg-white border-green text-green hover:bg-green hover:text-white active:bg-green-d1',

  ... etc
")}}</code></pre>

<h3>Class Management</h3>

<p>If Tailwind classes are not well-managed, i.e. if they are all dumped together indiscriminately without first organising them, they can become unwieldly.</p>

<p><span class="font-bold mr-2 text-munster">x</span>Don't do this:</p>

<pre><code class="language-twig">{{ html('
<button
  class="huge-long-list-of-classes-that-keeps-going-and-going-and-going
  and-going-and-going-and-going-and-going-and-going-and-going-and-going
  and-going-and-going-and-going-and-going-and-going-and-going-and-going
  ah-here-seriously-will-this-ever-end"
  type="{{ type }}"
  {{ is_disabled ? "disabled" : "" }}
  >
  Example Component
</button>
')}}</code></pre>

<p>We recommend that classes are grouped logically and then merged afterwards. This makes styling easier to maintain and keeps the component markup as clean and as readable as possible.</p>

<p><span class="font-bold mr-1 text-modern">✓</span>Do this instead:</p>

<pre><code class="language-twig">{{ html('
{% set core_classes = "manageable-list-of-classes-grouped-sensibly" %}
{% set modifiers = "another-manageable-list-of-classes" %}

{# Re-combine our classes into a single string to pass to the component. #}
{% set classes = [core_classes, theme_classes[theme], modifiers]|join(" ") %}

<button
  class="{{ {{ overrides is empty ? classes|trim : overrides }} }}"
  type="{{ type }}"
  {{ is_disabled ? "disabled" : "" }}
  >
  Example Button
</button>
')}}</code></pre>

<h4>Correct Syntax</h4>

<p>Take care to use valid Tailwind syntax. As of v4, Tailwind uses native CSS variables under the hood, but that does not invalidate the usual class syntax for references theme variabes. For example:</p>

<p><span class="font-bold mr-2 text-munster">x</span>Invalid: <code>bg-[var(--color-green-d1)]</code></p>

<p><span class="font-bold mr-1 text-modern">✓</span>Valid: <code>bg-green-d1</code></p>

<h3>YML Files</h3>

<p>Each component must have both a <code>*.twig</code> file and a <code>*.component.yml</code> file. Although it is not currently a Drupal requirement to have a fully annotated yml file for a component to function, we want to ensure our components are as future-proofed and as well-documented as possible. It is, therefore, a requirement from our point of view.</p>

<p>For an example of a fully annotated yml file, see the below <code>icon.component.yml</code> file (also available via the <a href="/components/icon/">icon component page</a>).</p>

<p>The yml file essentially describes the API of the component, i.e. the publicly available properties that a template or other component can call/consume.</p>

<pre class="max-h-80"><code class="language-yaml">{{ html(get_file("inc/components/icon/icon.component.yml")) }}</code></pre>
