<div class="
    group flex grow flex-col wrap m-1 p-1.5
    border border-slate-l5 rounded cursor-pointer
    dark:border-slate
    hover:border-slate-l4 hover:dark:border-slate-l1">

    <div class="flex flex-col justify-end {{ height }} {{ bgColor }}">
    
        <div class="
            w-fit px-1 py-0.25 m-1 bg-slate-d3 bg-opacity-70 text-slate-l5 text-sm">

            <span>{{ label }}</span>

        </div>

    </div>
    
</div>